* {
  box-sizing: border-box;
}
body {
  background-color: #20202d;
  margin: 0;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 945px;
  margin: auto;
}
.section {
  padding-top: 64px;
  padding-bottom: 92px;
}
.section-title {
  margin: 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 84px;
}
.hero {
  padding-top: 50px;
  padding-bottom: 150px;
  background: linear-gradient(0.01deg, #000000 0.01%, rgba(0, 0, 0, 0) 95.44%);
}
.hero_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 105px;
}
.social-link {
  margin-left: 20px;
}
.social-link:first-child {
  margin-left: 0;
}
.hero-img {
  width: 100%;
  max-width: 590px;
}
.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-subtitle {
  font-size: 24px;
  line-height: 28px;
  color: #ffbb01;
  display: block;
  margin-bottom: 14px;
}
.hero-title {
  font-size: 50px;
  line-height: 59px;
  margin-top: 0px;
  margin-bottom: 20px;
}
.hero-description {
  font-size: 16px;
  line-height: 28px;
  max-width: 400px;
  margin-bottom: 38px;
}
.button {
  background: linear-gradient(180deg, #fdde76 0%, #ffbb01 100%);
  box-shadow: 0px 4px 0px #b68500;
  border: none;
  border-radius: 5px 5px 10px 10px;
  padding: 24px 42px;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: #2e2e30;
  width: 285px;
}

.hero-avatar {
  width: 389px;
  height: 389px;
  background-color: #fff;
  border-radius: 50%;
  background-image: url("../image/avatar.jpg");
  background-position: center -20px;
  background-size: 97%;

  border: 13px solid #fff;
}

/*стили для бдлока со мной удобно работаь*/
.features {
  background: #000;
}
.features-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.features-item {
  flex-basis: 30%;
  margin-bottom: 63px;
}
.features-image {
  display: block;
  margin-bottom: 22px;
}
.features-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  margin: 0;
  margin-bottom: 16px;
}
.features-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  margin: 0;
}

/*стили для блока контак*/
.contacts-form {
  background-color: #ffffff;
  box-shadow: -5px 5px 0px #ffc41d;
  border-radius: 5px;
  max-width: 380px;
  padding-top: 40px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 49px;
}
.form-title {
  color: #000;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  margin: 0;
  margin-bottom: 29px;
}
.input {
  background-color: #f8f8f8;
  border: none;
  box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
  border-radius: 5px;
  padding: 18px 20px;
  width: 100%;
  font-size: 14px;
  line-height: 28px;
  padding-left: 50px;
}

.input.input-name {
  background-image: url("../image/user-icon.svg");
  background-repeat: no-repeat;
  background-position: left 20px center;
  background-size: 20px;
  margin-bottom: 28px;
}

.input.input-phone {
  background-image: url("../image/phone-icon.svg");
  background-repeat: no-repeat;
  background-position: left 20px center;
  background-size: 20px;
  margin-bottom: 28px;
}
.form-button {
  max-width: 100%;
}
.contacts-text {
  flex-basis: 50%;
}
.contacts-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contacts-data {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 42px;
}
.contacts-phone,
.contacnts-mail {
  flex-basis: 50%;
  margin-bottom: 53px;
}
.contacnts-social {
  flex-basis: 100%;
}
.contacts-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 15px;
}
.contacts-link {
  text-decoration: none;
  color: inherit;
  margin-right: 37px;
}
.contacts-link:hover {
  text-decoration: underline;
}
.contacts-policy {
  display: inline-block;
  font-size: 15px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #a5a5a5;
  margin-top: 72px;
}
