* {
  box-sizing: border-box;
}
body {
  background-color: #20202d;
  margin: 0;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
.container {
  width: 90%;
  max-width: 945px;
  margin: auto;
}
.section {
  padding-top: 64px;
  padding-bottom: 92px;
}
.section-title {
  margin: 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 84px;
}
.hero {
  padding-top: 50px;
  padding-bottom: 150px;
  background: linear-gradient(0.01deg, #000000 0.01%, rgba(0, 0, 0, 0) 95.44%);
}
.hero_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 105px;
}
.social-link {
  margin-left: 20px;
}
.social-link:first-child {
  margin-left: 0;
}
.hero-img {
  width: 100%;
  max-width: 590px;
}
.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-subtitle {
  font-size: 24px;
  line-height: 28px;
  color: #ffbb01;
  display: block;
  margin-bottom: 14px;
}
.hero-title {
  font-size: 50px;
  line-height: 59px;
  margin-top: 0px;
  margin-bottom: 20px;
}
.hero-description {
  font-size: 16px;
  line-height: 28px;
  max-width: 400px;
  margin-bottom: 38px;
}
.button {
  background: linear-gradient(180deg, #fdde76 0%, #ffbb01 100%);
  box-shadow: 0px 4px 0px #b68500;
  border: none;
  border-radius: 5px 5px 10px 10px;
  padding: 24px 42px;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: #2e2e30;
  width: 285px;
}

.hero-avatar {
  width: 389px;
  height: 389px;
  background-color: #fff;
  border-radius: 50%;
  background-image: url("../image/avatar.jpg");
  background-position: center -20px;
  background-size: 97%;

  border: 13px solid #fff;
}

/*стили для бдлока со мной удобно работаь*/
.features {
  background: #000;
}
.features-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.features-item {
  flex-basis: 30%;
  margin-bottom: 63px;
}
.features-image {
  display: block;
  margin-bottom: 22px;
}
.features-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  margin: 0;
  margin-bottom: 16px;
}
.features-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  margin: 0;
}
/*,блок с проектам*/
.projects {
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 95.44%);
}
.project-slide {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.progect-title {
  flex-basis: 100%;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 41px;
}
.project-text {
  flex-basis: 60%;
  display: flex;
  flex-wrap: wrap;
}
.project-time,
.project-cost {
  flex-basis: 50%;
  margin-bottom: 44px;
}
.project-time,
.project-cost,
.project-feedback {
  display: flex;
  align-items: flex-start;
}
.project-subtitle {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 7px;
}
.project-paragraf {
  margin: 0;
  font-size: 16px;
  line-height: 19px;
}
.project-icon {
  margin-right: 16px;
}
.project-image {
  width: 350px;
  height: 300px;
  border-radius: 20px;
}
/* Стили для пагинации */
.project-pagination {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.project-pagination {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  margin-left: 500px;
}

.project-pagination .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  border: 2px solid #ffbb01;
  border-radius: 50%;
  background: transparent;
  opacity: 1;
  cursor: pointer;
  transition: all 0.3s ease;
}

.project-pagination .swiper-pagination-bullet-active {
  background-color: #ffbb01;
  transform: scale(1.2);
}
/*стили для блока контак*/
.contacts-form {
  background-color: #ffffff;
  box-shadow: -5px 5px 0px #ffc41d;
  border-radius: 5px;
  max-width: 380px;
  padding-top: 40px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 49px;
}
.form-title {
  color: #000;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  margin: 0;
  margin-bottom: 29px;
}
.input {
  background-color: #f8f8f8;
  border: none;
  box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
  border-radius: 5px;
  padding: 18px 20px;
  width: 100%;
  font-size: 14px;
  line-height: 28px;
  padding-left: 50px;
}

.input.input-name {
  background-image: url("../image/user-icon.svg");
  background-repeat: no-repeat;
  background-position: left 20px center;
  background-size: 20px;
  margin-bottom: 28px;
}

.input.input-phone {
  background-image: url("../image/phone-icon.svg");
  background-repeat: no-repeat;
  background-position: left 20px center;
  background-size: 20px;
  margin-bottom: 28px;
}
.form-button {
  max-width: 100%;
}
.contacts-text {
  flex-basis: 50%;
}
.contacts-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contacts-data {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 42px;
}
.contacts-phone,
.contacnts-mail {
  flex-basis: 50%;
  margin-bottom: 53px;
}
.contacnts-social {
  flex-basis: 100%;
}
.contacts-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 15px;
}
.contacts-link {
  text-decoration: none;
  color: inherit;
  margin-right: 37px;
}
.contacts-link:hover {
  text-decoration: underline;
}
.contacts-policy {
  display: inline-block;
  font-size: 15px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #a5a5a5;
  margin-top: 72px;
}
.swiper {
  /* width: 130%; */
  height: 400px;
}

/*стили для адаптива*/
@media (max-width: 1100px) {
  .hero-avatar {
    width: 300px;
    height: 300px;
    border-width: 10px;
  }
}
@media (max-width: 836px) {
  .hero-content {
    flex-direction: column;
  }
  .hero-avatar {
    order: 0;
    width: 300px;
    height: 300px;
    border-width: 10px;
    margin-bottom: 17px;
  }
  .hero-text {
    order: 1;
    align-items: center;
    text-align: center;
    width: 400px;
  }
  .hero-button {
    justify-content: center;
    margin-left: 50px;
  }
  .features-item {
    flex-basis: 45%;
  }
  .swiper {
    height: 700px;
  }
  .project-slide {
    flex-direction: column;
    gap: 46px;
  }
  .project-pagination {
    margin-left: 300px;
  }
  .contacts-block {
    justify-content: space-between;
    flex-direction: column;
    gap: 45px;
  }
  .contacts-text {
    width: 400px;
  }
}
@media (max-width: 600px) {
  .project-pagination {
    margin-left: 200px;
    margin-bottom: 50px;
  }
  .swiper {
    height: 900px;
  }
  .project-slide {
    align-items: center;
  }
}
@media (max-width: 564px) {
  .hero-subtitle {
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 5px;
  }
  .hero_header {
    margin-bottom: 38px;
  }
  .social-links {
    margin-left: 5px;
  }
  .hero-title {
    font-size: 28px;
  }
  .hero {
    padding-bottom: 75px;
  }
  .section {
    padding-top: 63px;
  }
  .section-title {
    margin-bottom: 64px;
  }
  .features-item {
    flex-basis: 100%;
  }
  .project-time,
  .project-cost,
  .project-feedback {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
  .project-pagination {
    margin-left: 200px;
    margin-bottom: -5px;
  }
  .contacts-form {
    padding: 40px 19px;
  }
  .form-title {
    font-size: 15px;
    line-height: 140%;
  }
  .form-buton {
    font-size: 10px;
  }
  .contacts-phone,
  .contacnts-mail {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
  .contacts-title {
    font-size: 18px;
    line-height: 20px;
  }
  .contacts-link {
    font-size: 14px;
    line-height: 18px;
    display: block;
    margin-bottom: 13px;
  }
}
